@import url(./imports.css);

*{
    box-sizing: border-box;
    margin: 0px;
}

header{
    padding: 10px 20px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100svw;
    background-color: rgba(245, 245, 245, 0.596);
}

header img {
    height: 3.5rem;
    background: none;
    
}

.list-head {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: "OpenSans-Bold";
}

.list-head a{
    text-decoration: none;
    color: black;
}



header a:nth-child(3) {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    background-color: #FFCD00;
    height: 40px;
    justify-content: center;
    font-family: "OpenSans-Bold";
    border-radius: 5px;
}





main{

}

.section1{
    position: relative;
    height: 80svh;
    top: 0;
    z-index: -1;
}

.section1 img {
    width: 100svw;
    z-index: -2;
    filter: brightness(0.35);
    max-height: 90svh;
}

.section1 div {
    position: absolute;
    top: 30%;
    margin-left: 10svw;
    padding: 18px;
    border-radius: 15px;
}

.section1 div h1 {
    font-family: "OpenSans-Bold";
    color: white;
    font-size: 4.5rem;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,
        -2px  0   0 black,
         2px  0   0 black,
         0   -2px 0 black,
         0    2px 0 black;
}


.section1 div h1:nth-child(3){
    padding-left: 30svw;
    margin-top: -20px;
}

.section1 div span {
    font-size: 9rem;
    background: linear-gradient(90deg, #FFCD00, #003087, #C8102E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Bordecito negro */
    font-weight: bold;
    font-family: "OpenSans-Italic";
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-left: 8svw;
    margin-top: -30px;
}

