@import url(./imports.css);

*{
    box-sizing: border-box;
    margin: 0px;
}

header{
    padding: 10px 20px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.596);
    width: 100%;
}

header img {
    height: 3.5rem;
    background: none;
}

.list-head {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: "OpenSans-Bold";
}

.list-head a{
    text-decoration: none;
    color: black;
}



header a:nth-child(3) {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    background-color: #FFCD00;
    height: 40px;
    justify-content: center;
    font-family: "OpenSans-Bold";
    border-radius: 5px;
}

main{
}

.section1{
    position: relative;
    top: 0;
    z-index: -1;
}

.section1 img {
    filter: brightness(0.35);
    max-height: 90svh;
    width: 100%;
}

.section1 div {
    position: absolute;
    top: 30%;
    margin-left: 10svw;
    padding: 18px;
    border-radius: 15px;
}

.section1 div h1 {
    font-family: "OpenSans-Bold";
    color: white;
    font-size: 4.5rem;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,
        -2px  0   0 black,
         2px  0   0 black,
         0   -2px 0 black,
         0    2px 0 black;
}


.section1 div h1:nth-child(3){
    padding-left: 30svw;
    margin-top: -20px;
}

.section1 div span {
    font-size: 9rem;
    background: linear-gradient(90deg, #FFCD00, #003087, #C8102E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Bordecito negro */
    font-weight: bold;
    font-family: "OpenSans-Italic";
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-left: 8svw;
    margin-top: -30px;
}

.sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5svh;
    gap: 40px;
}

.sect2 h2{
   font-family: "OpenSans-Bold";
   font-size: 30px;
}

.sect2 article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sect2 article div{
    display: flex;
    align-items: center;
    width: 25%;
    gap: 30px;
    justify-content: center;
    padding: 40px 0px;
    height: 120px;
    font-family: "OpenSans-Light";
}

.sect2 article div {
    flex: 1;
    transition: transform 0.8s ease;
}

.sect2 article div:nth-child(1) {
    background-color: #daeaf6;
}

.sect2 article div:nth-child(2) {
    background-color: #d0e3f0;
}

.sect2 article div:nth-child(3) {
    background-color: #cfe8f3;
}

.sect2 article div:nth-child(4) {
    background-color: #e3f2fd;
}

.sect2 article div:hover {
    transform: scale(1.1);
    transition-delay: 0.3s;
    z-index: 2;
}
.sect2 article div svg{
    width: 40px;
}