<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/info_style.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../storage/img/Marca_país_Colombia_logo.svg.png" alt=""></a>
        <ul class="list-head">
            <li><a href="">Información</a></li>
            <li><a href="">Turismo</a></li>
            <li><a href="">Historia</a></li>
            <li><a href="">Tradiciones</a></li>
        </ul>
        <a href="#">Contactanos</a>
    </header>
    
    <main>
        <section class="infoGeneral">
            
        </section>
        
        <input type="text" id="search" placeholder="Buscar departamento..." style="width: 100%;">
        <section class="departamentos">
            <div class="list-container" id="department-list">
            </div>
            <div class="details-card" id="department-details">
                <h2>Selecciona un departamento</h2>
                <p>Verás la información aquí.</p>
            </div>
        </section>
    </main>

    <script type="module" src="../js/informacion.js"></script>
</body>
</html>