<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/info_style.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../storage/img/Marca_país_Colombia_logo.svg.png" alt=""></a>
        <ul class="list-head">
            <li><a href="">Información</a></li>
            <li><a href="./turismo.html">Turismo</a></li>
            <li><a href="./historial.html">Historia</a></li>
            <li><a href="">Tradiciones</a></li>
        </ul>
        <a href="#">Contactanos</a>
    </header>
    
    <main>
        <section class="infoGeneral">
            
        </section>
        <div class="headBusqueda">
            <input type="text" id="search" placeholder="Buscar departamento...">
            <h2>Información sobre Departamentos</h2>
        </div>
        
        <section class="departamentos">
            <div class="list-container" id="department-list">
            </div>
            <div class="details-card" id="department-details">
                <h2>Selecciona un departamento</h2>
                <p>Verás la información aquí.</p>
            </div>
        </section>


        <section class="presidentes">
            <h2>Conoce a nuestros presidentes</h2>
            <div class="carrouselContainer ">
                <button class="flecha izquierda">←</button>
                <div class="carrouselPresi">

                </div>
                <button class="flecha derecha">→</button>
            </div>
            
        </section>
    </main>

    <script type="module" src="../js/informacion.js"></script>
</body>
</html>