<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/turismo_style.css">
    <style>
    
    </style>
</head>

<body>
    <header>
        <img src="../storage/img/Marca_país_Colombia_logo.svg.png" alt="">
        <ul class="list-head">
            <li><a href="./informacion.html">Información</a></li>
            <li><a href="">Turismo</a></li>
            <li><a href="./historial.html">Historial</a></li>
        </ul>
        <a href="#">Contáctanos</a>
    </header>

    <main>
        <section class="sectTurismo">
            <h1>Atracciones Turísticas de Colombia</h1>
            <div id="main-container">
                <div id="container"></div>
                <div id="details-panel">
                    <p>Selecciona una atracción para ver los detalles.</p>
                </div>
            </div>
        </section>

        <section class="sectComida">
            <h1>Platos Típicos de Colombia</h1>
            <div id="dishes-grid"></div>
        </section>

    </main>

    <script type="module" src="../js/turismo.js"></script>
</body>

</html>